:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Calibri, sans-serif;
  font-size: 0.8rem;
  padding: 3em 3em;
  margin: 0;
}

body * + * {
  margin-top: 1em;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
}

@media print {
  @page {
    size: auto;
    margin: auto 0mm;
  }

  body {
    padding-top: 0;
    padding-bottom: 0;
  }
}
